# Environment variables
.env
.env.local
.env.*.local

# Weights & Biases
wandb/
**/wandb/

# MLflow
mlruns/
**/mlruns/

# Python
__pycache__/
*.py[cod]
*__pycache__/
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environment
venv/
env/
.venv/